@using Company.Honda.PL.Dtos
@model RoleToReturnDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Roles</h1>
<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="PartialView/_CreateEditPartialView" />
    <a asp-action="AddOrRemoveUser" asp-route-roleId="@Model.Id" class="btn btn-warning">AddOrRemoveUser</a>
    <div class="my-3">
        <input type="submit" value="Update" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    </div>
</form>
@section ValidationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
