@using Company.Honda.PL.Dtos
@model SignUpDto
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="SignUp">
			<input class="text mb-4" asp-for="Username" placeholder="Username" required="">
			<input class="text mb-4" asp-for="Firstname" placeholder="FirstName" required="">
			<input class="text mb-4" asp-for="LastName" placeholder="LastName" required="">
			<input class="text email mb-4" asp-for="Email" placeholder="Email" required="">
			<input class="text mb-4" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass mb-4" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Don't have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

@section ValidationSection
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}